.mcAktuell {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  #heroWithPictureRight {
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 17vw;
    padding-right: 17vw;
    display: flex;
    .left {
      padding: 1%;
      h1 {
        font-weight: 700;
        font-size: 3rem;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 2vh;
        span {
          font-family: "Open Sans", sans-serif;
          color: #ffbc0d;
        }
      }
      p {
        font-weight: 300;
        font-size: medium;
        max-width: 80%;
        font-family: "Open Sans", sans-serif;
      }
    }
    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      .imgHero {
        height: 30vh;
      }
    }
  }
  #sectionWithPictureBelow {
    background-color: #f7f7f7;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 17vw;
    padding-right: 17vw;
    display: flex;
    flex-direction: column;
    .top {
      padding: 1%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      #imlovinit {
        font-weight: 700;
        font-size: 4rem;
        font-family: "Open Sans", sans-serif;
        margin-bottom: 4vh;
        span {
          font-family: "Open Sans", sans-serif;
          color: #ffbc0d;
        }
      }
      p {
        font-weight: 300;
        font-size: medium;
        max-width: 90%;
        font-family: "Open Sans", sans-serif;
      }
    }
    .bottom {
      margin-top: 3vh;
      display: flex;
      align-items: center;
      justify-content: center;
      .imgHero {
        height: 40vh;
        width: 80%;
      }
    }
  }
}
