.article {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 25vw;
  margin-right: 25vw;
  .title {
    font-size: 2.2rem;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 1vh;
    text-align: center;
  }
  .subtitle {
    text-align: justify;
    font-family: "Open Sans", sans-serif;
  }
  p {
    line-height: 180%;
    font-family: "Open Sans", sans-serif;
    text-align: justify;
  }
  #gp1 {
    margin: 1vh;
    max-width: 100%;
  }
  #gp2 {
    margin: 1vh;
    max-width: 60%;
  }
  .text-picright {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
    p {
      font-family: "Open Sans", sans-serif;
      margin-right: 1vw;
    }
    img {
      transform: translate(1vh, -1vh);
    }
  }
  #aufzaehlung {
    align-self: baseline;
  }
}
