.homepage{
    width: 100%;
    padding-top: 5vh;
    padding-left: 7vh;
    padding-right: 7vh;
    padding-bottom: 7vh;
    display: flex;
    flex-direction: column;
    .carusel{
        background-color: rgba(9, 139, 226, 0.726);
        width: 100%;
        height: 60vh;
        border-radius: 7px;
    }
    .infoBoxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        .box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border:0.5px solid rgba(128, 128, 128, 0.226);
            width: 56vh;
            border-radius: 7px;
            margin-top: 4vh;
            img{
                border-radius: 7px 7px 0px 0px;
                max-height: 100%;
            }
            .textbuttonheader{
                margin-top: 1vh;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                .boxheader{
                    font-size: x-large;
                    font-weight: bolder;
                    margin-bottom: 0.5vh;
                }
                p{
                    max-width: 80%;
                    text-align: center;
                }
                button{
                    margin-top: 2vh;
                }
            }
        }
    }
}

@media only screen and (min-width: 1700px) {
    .homepage{
        padding-left: 30vh;
        padding-right: 30vh;
        .infoBoxes{
            .box{
                width: 45vh;
            }
        }
    }
    
}