@import "./navbar/navbar";
@import "./home/homepage";
@import "./button/button";
@import "./footer/footer";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    &:focus {
        outline: none;
    }
    font-family: 'calibri', sans-serif;
}