.button {
  background-color: #ffbc0d;
  border: .125rem solid #ffbc0d;
  padding: 1vh;
  border-radius: 2.5px;
  margin: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.button p {
  font-size: medium;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

footer {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 17vh;
  background-color: white;
  border-bottom: 1.5px solid rgba(185, 185, 185, 0.527);
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .linksbottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

footer .linksbottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.navbar {
  width: 100%;
  height: 17vh;
  background-color: white;
  -webkit-box-shadow: 0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.04), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.04), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1vh;
}

.navbar .logo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  height: 100%;
}

.navbar .links {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 20%;
  padding-bottom: 4vh;
}

.navbar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.navbar .links ul li {
  font-size: larger;
}

.navbar .links ul li a {
  text-decoration: none;
  color: black;
}

.navbar .toggle {
  display: none;
}

@media only screen and (min-width: 1700px) {
  .navbar {
    height: 13vh;
    padding-left: 15%;
    padding-right: 15%;
  }
  .navbar .logo {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo img {
    height: 14vh;
  }
}

@media only screen and (max-width: 980px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .logo {
    margin-left: 15%;
  }
  .navbar .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    cursor: pointer;
    margin-right: 5%;
  }
  .navbar .links {
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .navbar .links ul {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 12vh;
    height: 80vh;
    margin-top: -30%;
  }
  .navbar .links ul li {
    opacity: 0;
  }
  .navbar .links ul li a {
    font-size: large;
  }
  .navbar .links ul li:nth-child(1) {
    -webkit-transition: all 0.5s ease 0.2s;
    transition: all 0.5s ease 0.2s;
  }
  .navbar .links ul li:nth-child(2) {
    -webkit-transition: all 0.5s ease 0.3s;
    transition: all 0.5s ease 0.3s;
  }
  .navbar .links ul li:nth-child(3) {
    -webkit-transition: all 0.5s ease 0.4s;
    transition: all 0.5s ease 0.4s;
  }
  .navbar .links ul li:nth-child(4) {
    -webkit-transition: all 0.5s ease 0.5s;
    transition: all 0.5s ease 0.5s;
  }
  .navbar .links ul li:nth-child(5) {
    -webkit-transition: all 0.5s ease 0.6s;
    transition: all 0.5s ease 0.6s;
  }
  .navbar .links.open {
    pointer-events: all;
    clip-path: circle(1500px at 90% -20%);
    -webkit-clip-path: circle(1500px at 90% -20%);
  }
  .navbar .links li.fade {
    opacity: 1;
  }
}

@-webkit-keyframes carusel {
  0% {
  }
  100% {
  }
}

@keyframes carusel {
  0% {
  }
  100% {
  }
}

.homepage {
  width: 100%;
  padding-top: 5vh;
  padding-left: 7vh;
  padding-right: 7vh;
  padding-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .carusel {
  width: 100%;
  height: 60vh;
  border-radius: 7px;
  background-image: url("");
  background-size: cover;
  background-repeat: no-repeat;
}

.homepage .infoBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .infoBoxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.5px solid rgba(128, 128, 128, 0.226);
  width: 32%;
  border-radius: 7px;
  margin-top: 4vh;
}

.homepage .infoBoxes .box img {
  border-radius: 7px 7px 0px 0px;
  max-height: 100%;
}

.homepage .infoBoxes .box .textbuttonheader {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .infoBoxes .box .textbuttonheader .boxheader {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 0.5vh;
  max-width: 80%;
  word-break: break-all;
}

.homepage .infoBoxes .box .textbuttonheader p {
  max-width: 80%;
  text-align: center;
}

.homepage .infoBoxes .box .textbuttonheader button {
  margin-top: 2vh;
}

@media only screen and (min-width: 1700px) {
  .homepage {
    padding-left: 30vh;
    padding-right: 30vh;
  }
}

@media only screen and (max-width: 880px) {
  .homepage .infoBoxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homepage .infoBoxes .box {
    width: 80%;
  }
  .homepage .infoBoxes .box img {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .homepage {
    padding-left: 2.5vh;
    padding-right: 2.5vh;
  }
  .homepage .infoBoxes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .homepage .infoBoxes .box {
    width: 95%;
  }
}

.matura {
  width: 100%;
  height: 50vh;
  padding-top: 5vh;
  padding-left: 7vh;
  padding-right: 7vh;
  padding-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: wheat;
}

@media only screen and (min-width: 1700px) {
  .matura {
    padding-left: 30vh;
    padding-right: 30vh;
  }
}

@media only screen and (max-width: 500px) {
  .matura {
    padding-left: 2.5vh;
    padding-right: 2.5vh;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'calibri', sans-serif;
}

*:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */