.navbar {
  width: 100%;
  height: 17vh;
  background-color: white;
  -webkit-box-shadow: 0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.04), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.04);
          box-shadow: 0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.04), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .logo {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .logo img {
  max-height: 100%;
}

.navbar .links {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 20%;
  padding-bottom: 4vh;
}

.navbar .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

.navbar .links ul li {
  font-size: larger;
}

@media only screen and (min-width: 1700px) {
  .navbar {
    height: 13vh;
    padding-left: 15%;
    padding-right: 15%;
  }
  .navbar .logo {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar .logo img {
    height: 14vh;
  }
}

.homepage {
  width: 100%;
  padding-top: 5vh;
  padding-left: 7vh;
  padding-right: 7vh;
  padding-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .carusel {
  background-color: rgba(9, 139, 226, 0.726);
  width: 100%;
  height: 60vh;
  border-radius: 7px;
}

.homepage .infoBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.homepage .infoBoxes .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 0.5px solid rgba(128, 128, 128, 0.226);
  width: 56vh;
  border-radius: 7px;
  margin-top: 4vh;
}

.homepage .infoBoxes .box img {
  border-radius: 7px 7px 0px 0px;
  max-height: 100%;
}

.homepage .infoBoxes .box .textbuttonheader {
  margin-top: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.homepage .infoBoxes .box .textbuttonheader .boxheader {
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 0.5vh;
}

.homepage .infoBoxes .box .textbuttonheader p {
  max-width: 80%;
  text-align: center;
}

.homepage .infoBoxes .box .textbuttonheader button {
  margin-top: 2vh;
}

@media only screen and (min-width: 1700px) {
  .homepage {
    padding-left: 30vh;
    padding-right: 30vh;
  }
  .homepage .infoBoxes .box {
    width: 45vh;
  }
}

.button {
  background-color: #ffbc0d;
  border: .125rem solid #ffbc0d;
  padding: 0.5vh;
  border-radius: 2.5px;
  margin: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45%;
}

.button p {
  font-size: medium;
}

.button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'calibri', sans-serif;
}

*:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */