@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@import "./components/button/button";
@import "./components/footer/footer";
@import "./components/navbar/navbar";
@import "./components/panel/panel";
@import "./home/homepage";
@import "./geschichte/geschichte";
@import "./marketing/marketing";
@import "./mcaktuell/mcaktuell";
@import "./articles/article";
@import "./maturaarbeit/maturaArbeit";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  &:focus {
    outline: none;
  }
  font-family: "calibri", sans-serif;
}
