.matura{
    height: 50vh;
    margin-top: 5vh;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(214, 160, 61, 0.459);
}
