.footer {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 17vh;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px solid rgba(185, 185, 185, 0.527);
  margin-bottom: 5vh;
  padding-left: 0vw;
  padding-right: 3vw;
  display: flex;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  div {
    p {
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.grey {
  color: rgba(0, 0, 0, 0.5);
  &:hover {
    cursor: pointer;
  }
}
.gone {
  opacity: 0;
}
