footer {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 17vh;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px solid rgba(185, 185, 185, 0.527);
  margin-bottom: 5vh;
  display: flex;
  font-family: "Open Sans", sans-serif;
  .linksbottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    ul {
      display: flex;
      width: auto;
      font-family: "Open Sans", sans-serif;
    }
  }
}
