footer {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 17vh;
  background-color: rgb(255, 255, 255);
  border-bottom: 1.5px solid rgba(185, 185, 185, 0.527);
  margin-bottom: 5vh;
  display: flex;
  font-family: "Open Sans", sans-serif;
  .linksbottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    ul {
      display: flex;
      width: auto;
      font-family: "Open Sans", sans-serif;
      li {
        max-width: 20%;
        .transparent {
          color: rgba(221, 221, 221, 0.411);
        }
      }
    }
  }
}
