footer{
    width: 100%;
    height: 17vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    .linksbottom{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        ul{
            display: flex;
            width: auto;
        }
    }
    
}  